/*DOCUMENT*/
html, body {
	height : 100%
}
body {
	font-family : "Lato", sans-serif;
	padding : 0;
	margin : 0;
	overflow-x: hidden;
}

[class*="col-"] img{
    width: 100%;
}

/*BANNER*/
#hero {
	padding : 0.5em 0;
	text-align : center;
	width : auto;
	height : 10%;
	background-color : #8DC9C9;
	font-size : 2em;
}


.inline {
	display : inline;
}