body {
    width: 100%;
    font-family: Bitter;
    background-color: #e9eaed;
}

h1 {
  color: #3a5795;
}

.grid-item {
  float: left;
  /* vertical gutter */
  text-align: center;
}

.thumb {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 5px;
  border: 3px solid #3a5795;
  background-position: center center;
  background-size: cover;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

div.grid-item:hover span.text-content {
  opacity: 1;
}


img {
  max-width: 200px;
  max-height: 200px;
  padding-bottom: 0;
}

.grid-item img {
  display:block;
  margin:auto;
}

#back {
  width: 120px;
  height: 20px;
  /*border: 3px solid #3a5795;*/
  /*border-radius: 5px;*/
  text-align: center;
  cursor: pointer;
}

#controlsbox {
  color: #3a5795;;
}



#photos img {
  margin: 10px;
}

