@charset "UTF-8";
html,
body,
#container {
  background-color: #FCFDFF;
  height:100%;
  margin:0;
  padding:0;
  font-family:'Roboto Condensed',sans-serif !important;
}

button {
  outline: none;
}

#title {
  font-size:50px;
  text-align: center;
}

#instruct {
  text-align:center;
  font-size:30px;
  margin-top:30px;
  font-weight:200;
}

#map {
  width:65%;
  height:100%;
  margin-top:-100px;
  float:right;
  display:inline-block;
}

#search {
  margin-top:15px;
  margin-bottom:15px;
  padding-bottom:15px;
  border:1px solid #627BD8;
  font-size:20px;
}

#locationList {
  list-style:none;
  width:30%;
  height:100%;
  padding-left:10px;
  display:inline-block;
  overflow-y:auto;
}

#savedList {
  list-style:none;
  width:30%;
  height:100%;
  padding-left:10px;
  display:none;
  overflow-y:auto;
}

li {
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
}

#listItem {
  padding-left: 10px;
  font-size: 20px;
  display:inline-block;
  width:80%;
}

#listItemSaved {
  padding-left: 10px;
  display:inline-block;
  font-size: 20px;
  width:100%;
}

.save {
  display:inline-block;
  width:15%;
  line-height:100%;
  background-color:#fff;
  font-weight:400;
  width:40px;
  height:25px;
  border-radius:4px;
  border:1px solid #00B116;
  color:#00B116;
}

#buttons {
  width:30%;
  text-align:center;
}

.header {
  background-color:#fff;
  font-size:16px;
  font-weight:200;
  width:100px;
  border-radius:4px;
  border:1px solid #627BD8;
  color:#627BD8;
}

.selected {
  background-color: #92A8F9 !important;
  color: white !important;
}

button { font-family:'Roboto Condensed',sans-serif !important; }

@font-face {
  font-family:'Glyphter';
  src:url(googlePlacesFonts/Glyphter.eot);
  src:url(googlePlacesFonts/Glyphter.eot?#iefix) format('embedded-opentype'),url(googlePlacesFonts/Glyphter.woff) format('woff'),url(googlePlacesFonts/Glyphter.ttf) format('truetype'),url(googlePlacesFonts/Glyphter.svg#Glyphter) format('svg');
  font-weight:normal;
  font-style:normal;
}

[class*='icon-']:before {
  display:inline-block;
  font-family:'Glyphter';
  font-style:normal;
  font-weight:normal;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.icon-checkmark:before { content:'\0041'; }
