body {
    margin: 0;
    padding: 0;
    font-family: Bitter;
    /*    background-color: #141318;
    color: #615F6B;*/
}


/*#tempBody {
    background-color: ;
}*/

#resBody {
    background-color: #ECECEC;
}

#gameBody {
    background-color: #16191C;
}

#index {
    text-align: center;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 6vw;
}

.center {
    text-align: center;
}

#game {
    position: absolute;
    width: 100%;
    /*    padding-left: 0;
    padding-right: 0;*/
    /*    margin-left: auto;
    margin-right: auto;*/
    display: inline;
}


/*canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}*/

.btn {
    background-color: #5A8EC1;
}


/*@media (min-width: 1150px) {
    #btnGroup {
        margin-top: 20%;
        margin-left: 3%;
    }
    canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: inline;
    }
}
*/


/*@media (max-width: 1149px) {
*/

#btnGroup {
    text-align: center;
}

#listStyle li {
    display: inline-block;
}

canvas {
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}


/*}
*/

#listStyle {
    list-style-type: none;
}

#resHeader {
    background: rgba(125, 250, 240, 1);
    background: -moz-linear-gradient(-45deg, rgba(125, 250, 240, 1) 4%, rgba(120, 240, 236, 1) 14%, rgba(102, 204, 222, 1) 48%, rgba(167, 216, 236, 1) 88%, rgba(167, 216, 236, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(4%, rgba(125, 250, 240, 1)), color-stop(14%, rgba(120, 240, 236, 1)), color-stop(48%, rgba(102, 204, 222, 1)), color-stop(88%, rgba(167, 216, 236, 1)), color-stop(100%, rgba(167, 216, 236, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(125, 250, 240, 1) 4%, rgba(120, 240, 236, 1) 14%, rgba(102, 204, 222, 1) 48%, rgba(167, 216, 236, 1) 88%, rgba(167, 216, 236, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(125, 250, 240, 1) 4%, rgba(120, 240, 236, 1) 14%, rgba(102, 204, 222, 1) 48%, rgba(167, 216, 236, 1) 88%, rgba(167, 216, 236, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(125, 250, 240, 1) 4%, rgba(120, 240, 236, 1) 14%, rgba(102, 204, 222, 1) 48%, rgba(167, 216, 236, 1) 88%, rgba(167, 216, 236, 1) 100%);
    background: linear-gradient(135deg, rgba(125, 250, 240, 1) 4%, rgba(120, 240, 236, 1) 14%, rgba(102, 204, 222, 1) 48%, rgba(167, 216, 236, 1) 88%, rgba(167, 216, 236, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7dfaf0', endColorstr='#a7d8ec', GradientType=1);
}

#resHeader h1 {
    font-size: 4vw;
    margin-top: 0;
    margin-bottom: 5px;
}

#resHeader h3 {
    font-size: 1.6vw;
    margin: 0;
}

.container {
    display: flex;
}

#styleA {
    width: 50%;
}

#styleB {
    width: 50%;
}

ul {
    margin-top: 5px;
}

.skillz {
    margin-bottom: 5px;
}

#work,
#education,
#skills,
#achieve {
    padding-left: 25%;
    padding-right: 25%;
    text-align: left;
}

#workColor {
    text-align: center;
    width: 100%;
    background-color: #89E1F1;
}

#eduColor {
    text-align: center;
    width: 100%;
    background-color: #B0E5EF;
}

#skillColor {
    text-align: center;
    width: 100%;
    background-color: #99DBE7;
}

#achColor {
    text-align: center;
    width: 100%;
    background-color: #C8E1E6;
}

#printHeader {
    display: none;
}

@media print {
    #printHeader {
        display: block !important;
    }
    #work,
    #education,
    #skills,
    #achieve {
        font-size: 10px;
        padding-left: 25%;
        padding-right: 25%;
        text-align: left;
    }
}
